# Don't track big files or executables

*.zip
*.exe
*.msi
*.tgz

# Skip the Installers directory

/Installers

# Skip PowerPoint temp files

~$*.pptx

# Add the class app back in
!/Apps/XSPLK2_App.zip